{% assign limit 			= settings.featured_product_limit   %}
{% comment %}
<div class="block widget-prd-featured best-seller spaceBlock">
  {% if settings.featured_product_title != blank %}
  <h3 class="block-title"><strong><span>{{ settings.featured_product_title }}</span></strong></h3>
  {% endif %}
  <div class="wrap">
    {% if settings.featured_product_list_collection == blank %}
    {% for product in (1..limit) %}
    <div class="product-item">
      <a href="#" class="product-img">
        {% capture current %}{% cycle 1 %}{% endcapture %}
        {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
      </a>
      <div class="product-info">
        <div class="product-name"><strong>Yours Product Demo</strong></div>
        <div class="price">
          <span class="price-new"> $999.00 </span>
        </div>
      </div>
    </div>
    {% endfor %}
    {% else %}
    {% for product in collections[settings.featured_product_list_collection].products limit:settings.featured_product_limit %}
    {% include 'product-item' %} 
    {% endfor %}
    {% endif %}        
  </div>
</div>
{% endcomment %}