<div class="ha-slider ha-slider-5ee7bce3142ca template-2 home-top-banner" data-slider="5ee7bce3142ca" id="home-top-banner" > </div>

{% schema %}
{
"name": "Home Banner Top",
"class": "home-section",
"settings": [
{
"type": "header",
"content": "Setting Banner "
},
{
"type": "image_picker",
"id": "image1",
"label": "Banner image1"
},
{
"type": "url",
"id": "link1",
"label": "Link1",
"info": "Image link1"
},
{
"type": "image_picker",
"id": "image2",
"label": "Banner image2"
},
{
"type": "url",
"id": "link2",
"label": "Link2",
"info": "Image link2"
}
],
"presets": [
{
"name": "Home Banner Top",
"category": "Image"
}
]
}
{% endschema %}