
<div class="container page-404">				
  <div class="title-box">
    <h1 class="text-center title-404">{{ "general.404.title" | t }}</h1>
  </div>	
  <div class="text-center"> 
    <img src='{{ "404_-page.png" | asset_url }}' alt="img-404" class="img-404" />		         
    <div class="info-404">
      <span>{{ "general.404.subtext" | t }} </span>
      <a class="btn btn-default" href="/"><span class="fa fa-home"></span>{{ "general.404.link" | t }}</a>
    </div>

  </div>					
</div>