{% include 'breadcrumb' %}
<div class="page--information">
  <div class="container">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header">
        <h1 class="page-title">{{ page.title }}</h1>
      </div>

      <div class="rtes">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
